@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 15px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --white: #fdfdfd;
}

body {
  font-family: "Cabin", Arial, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  background: #080808;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
}

.keyContainer {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

.key {
  border: 0.4rem solid var(--white);
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: #fdfdfd;
  transition: all 0.07s ease;
  flex: 0 0 40%;
}

kbd {
  display: block;
  font-size: 2em;
}

.sound {
  text-transform: uppercase;
  color: #ff00ff;
  letter-spacing: 2px;
}

.playing {
  transform: scale(1.2);
  box-shadow: 0 0 1rem var(--white);
}

.controls {
  width: 60%;
  text-align: center;
  font-size: 1.5rem;
  color: var(--white);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.play:hover,
.reset:hover,
.record:hover,
.loop:hover {
  cursor: pointer;
}

.loop {
  display: inline-block;
  transition: color 0.3s ease-in-out;
  color: var(--white);
  font-size: 0.8em;
}

.full {
  width: 100%;
  order: 1;
}

.recordText,
.playText {
  display: inline-block;
}

h1 {
  width: 100%;
  color: #007ce1;
  text-align: center;
  font-size: 2.5em;
}

.reset {
  order: 2;
}

.alert {
  display: none;
  color: red;
}

.looping {
  color: #1cbd55;
  transform: rotate(180deg);
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

button {
  border: solid 1px transparent;
  border-radius: 4px;
  font-size: 0.7em;
  background: red;
  color: white;
  padding: 5px;
  transition: all 150ms ease;
}

button:active {
  color: #fff;
  text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0, 0, 0, 0.9);
  -webkit-transform: translateY(3px);
  transform: translateY(3px);

  -webkit-animation: none;
  animation: none;
}

@-moz-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .keyContainer {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .key {
    flex: none;
    width: 10rem;
    font-size: 1.5rem;
  }

  .controls {
    flex-flow: row wrap;
  }

  .reset,
  .full {
    order: 0;
  }

  .control {
    margin: 10px;
  }

  h1 {
    width: 100%;
    font-size: 3em;
  }

  kbd {
    display: block;
    font-size: 2.5em;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
