@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 15px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Cabin", Arial, Geneva, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  background: #2f2f2f;
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.keyContainer {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.key {
  border: 0.4rem solid #fdfdfd;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: #fdfdfd;
  width: 30%;
  transition: all 0.07s ease;
}

kbd {
  display: block;
}

.playing {
  color: #ff0000;
  border-color: #ff0000;
  transform: scale(1.1);
  box-shadow: 0 0 1rem #fdfdfd;
}

.controls {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: #fdfdfd;

.play:hover,
.reset:hover {
  cursor: pointer;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 550px) {
  .keyContainer {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .key {
    width: 10rem;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 850px) {
}
